* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3199da;
    counter-reset: Serial;   
}

/* All <a> tag properties in the project */
a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #eebd53;
}

a:visited {
    color: #000000;
}

a:active {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: calc(52px + .5vw);
}

h3, h4, h5 {
    color:#eebd53;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: calc(22px + .5vw);
    font-weight: bold;
    text-shadow: 2px 1px #000000;
}

h4 {
    font-size: calc(18px + .5vw);
}

h5 {
    color: #ffffff;
    font-size: calc(25px + .5vw);
    text-align: center;
    margin-top: 70px;
}

/* LOG OUT BAR - START */
/* The user interface top bar with log out function */
#logout-bar {
    display: flex;
    position: fixed;
    float: right;
    width: 100vw;
    height: 5vh;
    min-height: 60px;
    top:0;
    border-bottom: 3px #7dcdff solid;
    justify-content: right;
    align-items: center;
    background-color: rgb(23, 135, 204);
    z-index: 100;
    -webkit-box-shadow: 1px 10px 15px -2px rgba(0,0,0,0.23); 
    box-shadow: 1px 10px 15px -2px rgba(0,0,0,0.23);
}

/* Project logo and text container */
#project-info-container {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

/* Project name text in nav bar*/
#project-name {
    padding-left: 10px;
    font-size: 2.5rem;
    color: #ffc64d;
    letter-spacing: 5px;
    text-shadow: 1px 2px #000000;
}

/* Project Logo image */
#project-logo {
    display: inline-block;
    height: 2.8vw;
    min-height: 45px;
    max-height: 58px;
    margin-left: 20px;
    padding: 2px 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Log out form container */
#log-out-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    margin-right: calc(10px + 2vw);
    text-align: center;
}

/* Size of the logout form within the logout container */
#log-out-container form {
    height: 100%;
}

/* User log out button properties */
#log-out-button {
    background-color: transparent;
    position: inherit;
    height: 100%;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 2rem;
    color: #ffc64d;
    border: none;
    cursor: pointer;
}

/* Hover over log out button properties */
#log-out-button:hover {
    background-color: rgba(168, 206, 230, 0.767);
    transition: .2s ease-in-out;
}

/* Active log out button properties */
#log-out-button:active {
    color: #ffffff;
}
/* LOG OUT BAR - END */

/* USER INTERFACE MENU - START */
/* User interface menu container properties */
#user-menu-container {
    position: fixed;
    height: calc(100vh - 60px);
    margin-top: 60px;
    width: 260px;
    background-color: #158eda;
    border-right: 4px #7dcdff solid;
    border-bottom: 4px #7dcdff solid;
    border-top: 1px #7dcdff solid;
    border-radius: 5px;
    -webkit-box-shadow: 2px 8px 19px 1px rgba(0,0,0,0.3); 
    box-shadow: 2px 8px 19px 1px rgba(0,0,0,0.3);
    left: 0;
    z-index: 100;
}

/* User interface top text position */
#menu {
    text-align: center;
    background-color: #36a1e4af;
    padding: 10px 0;
    height: 60px;
}

/* User interface <h4> underline properties*/
#menu h4 {
    text-align: center;
    font-size: calc(28px + .1vw);

}

/* User interface burger button container properties */
#burger-menu {
    color: #ffc64d;
    width: 80px;
    position: fixed;
    text-align: right;
    left: 250px;
    top: 58px;
    background-color: #36a1e4;
    border: 4px #7dcdff solid;
    border-top: none;
    border-radius: 5px;
}

/* Burger button <img> properties */
#burger-menu i {
    padding: 9px;
    margin-right: 4px;
    cursor: pointer;
}

/* Burger menu button hover property */
#burger-menu:hover {
    color: #ffffff;
    transition: .2s ease-in-out;
}

/* User interface menu options size and properties */
#interface-options {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    width: 100%;
    overflow-y: auto;
}

/* List of options properties */
#interface-options ul { 
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
}

/* Set the width, alignment and positions of <li> option elements in menu */
#interface-options ul li {
    width: 100%;
    display: flex;
    flex-direction: column;

} 

/* Remove margin-top from first <li> option in user interface menu */
#interface-options ul li:first-child {
    margin-top: 0;
}

/* User interface menu options accordion class */
.accordion, #user-dashboard-button {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover, #user-dashboard-button:hover {
    background-color: rgba(116, 194, 241, 0.849);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    display: none;
    overflow: hidden;
    width: 100%;
  }

  /* Panel sub menu properties */
  .panel-options-menu {
    text-align: center;
  }

  /* <a> tag within the interface menu option buttons*/
  .panel-options-menu a {
      cursor: pointer;
      padding: 10px;
      text-align: left;
      text-indent: 35px;
      transition: .2s ease-in-out;
  }

  /* hover over menu buttons sub menu <a> tag */
  .panel-options-menu a:hover {
    color: #ffbf35;
    background-color: #7dcdff52;
  }
/*USER INTERFACE MENU - END */

/* USER DASHBOARD - START */
/* User dashboard viewport */
#user-dashboard {
    width: calc(100vw - 262px);
    float: right;
    margin-top: 60px;
    height: calc(100vh - 60px);
    background-color: #54b0e9;
    z-index: -100;
    overflow-x: hidden;
    border: 3px solid yellow;
}

/* Account overview <h3> tag */
#user-dashboard h3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

#user-dashboard h4 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* Account overview balance, savings, and crypto section container */
#quick-acc-overview {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 30px;
}

/* Account overview <ul> properties */
#quick-acc-overview ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

/* Balance, savings, crypto overview container div properties */
.overview-container {
    border: 3px #7dcdff solid;
    background-color: #1e94dd;
    height: 100%;
    width: 25%;
    min-width: 260px;
    border-radius: 4px;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58); 
    box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58);
}

/* Balance, savings, crypto overview image section properties */
.overview-img-section {
    width: 90px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #5abefcb2;
    text-align: center;
    color: #ffffff;
}

/* Balance, savings, crypto overview logo properties */
.overview-img-section i {
    margin-top: 5px;
    padding: 0 5px;
}

/* Balance, savings, crypto overview text properties */
.overview-text {
    width: calc(100% - 90px);
    height: 100%;
    float: right;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #3ca3e4;
}

/* Balance, savings, crypto overview description <p> tag properties */
.overview-text p {
    font-size: 30px;
}

/* Balance, savings, crypto overview description <p> name of div tag properties */
.overview-text p:first-child {
    color:#ffbf35;
    text-shadow: 2px 1px #000000; 
    text-decoration: underline;
    text-underline-offset: 1px;
}

    /* EXPENSES SITE CSS - START */
/* Add new expense to table view */
#add-expense-container {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #152a47ad;
    z-index: 1000;
    border: 2px solid yellow;
}

/* Add expense form container */
#add-expense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    max-width: 400px;
    min-width: 260px;
    border: 2px #7dcdff solid;
    border-radius: 5px;
    background-color: #2884bdbb;
}

/* Remove <h3> margins from the add expenses container */
#add-expense h3 {
    margin: 0;
}

/* Close add expense viewport */
#add-expense-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    margin-right: 3.5vw;
    margin-top: 1.5vw;
    padding: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

/* Hover over close add new expense close view button */
#add-expense-close:hover {
    color: #ffbf35;
}

/* Form layout properties */
#add-expense form {
    width: 80%;
    margin: 25px 0;
    text-align: center;
}

/* Add expenses inputs and select tag properties */
#add-expense form input, select {
    text-align: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    font-size: calc(12px + .2vw);
}

/* Add expenses submit button properites */
#add-expense form button {
    font-size: calc(14px + .2vw);
    width: fit-content;
    padding: 10px;
}



/* The sum of the users expenses table container properties */
#sum-table {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: calc(15px + .5vw);
    color: #ffffff;
}

/* The sum of the users expenses table properties */
#sum-table table {
    width: 90%;
    margin-top: 10px;
    text-align: center;
}

/* Change first and last child <tr> of the sum table */
#sum-table table tr:last-child, #sum-table table tr:first-child {
    font-weight: bold;
    color:#ffbf35;
    text-shadow: 2px 1px #000000;
}

/* The exense overviews container properties */
#expenses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Expenses Donut Chart, and expenses sum containers */
#donut-chart, #expenses-sum {
    margin: 0 auto;
    width: 30%;
    height: 40%;
    min-height: 300px;
    min-width: 260px;
    max-width: 700px;
    max-height: 700px;
    margin-top: 30px;
    border: 4px #7dcdff  solid;
    background-color: #1e94dd;
    border-radius: 10px;
    -webkit-box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58); 
    box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58);
}

/* Expense tracker Table properties */
#expense-table-container table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: calc(12px + .4vw);
    border: 3px #7dcdff  solid;
    color: #ffffff;
    -webkit-box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58); 
    box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58);
}

/* Change font to 'DOSIS' in expense tracker table */
#expense-table-container table th, td, tr {
    font-family: 'Dosis','Times New Roman', sans-serif;
}

#expense-table-container table tr:nth-child(odd) {
    background-color: #1e94dd;
}

#expense-table-container table tr:nth-child(even) {
    background-color: #54b0e9;
}

/* Change the first child <tr> tag of the expense tracker table */
#expense-table-container table tr:first-child {
    background-color: rgb(1, 139, 224);
    color:#ffbf35;
    text-shadow: 2px 1px #000000;
}

/* Increment the number of the table row with each one */
#expense-table-container table tr td:first-child:before{
    counter-increment: Serial;      /* Increment the Serial counter */
    content:counter(Serial);        /* Display the counter */
  }

/* Clickable edit, delete, and add new expense button properties*/
.button, #new-expense-button {
    cursor: pointer;
    font-size: calc(12px + .2vw);
    width: 30%;
    min-width: 50px;
    margin: 0 2.5%;
    background-color: #eebd53;
    border: 3px solid #ffc23e;
    color:#ffffff;
    padding: 1px;
    border-radius: 10px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.button:hover, #new-expense-button:hover {
    background-color: #ffbf35;
    color:rgb(23, 135, 204);
}

/* Change width of add new expense button container and center it */
#new-expense {
    width: fit-content;
    margin: 0 auto;
}

/* Set the width of the add new button and its font properties */
#new-expense-button {
    width: 200px;
    font-size: calc(18px + .2vw);
    padding: 10px;
    margin: 20px 0;
}

/* SAVING GOALS CSS -START */
/* Container for all the inputs, sliders etc for '/saving-goals.html */
#saving-goals-container {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#saving-goals-container p {
    font-size: 30px;
    text-decoration: underline;
    color:#eebd53;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    text-shadow: 2px 1px #000000;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%;
    height: 25px;
    margin-top: 10px;
    background: #ffffff; /* Grey background */
    outline: 3px #7accff solid;
    border-radius: 15px;
    opacity: .9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    -webkit-box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58); 
    box-shadow: 1px 6px 15px -2px rgba(0,0,0,0.58);
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handles (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; 
    height: 25px;
    border-radius: 15px;
    background: #ffcc5d;
    cursor: pointer; 
  }
  
  /* The slider handles -moz- (Firefox) to override default look) */
  .slider::-moz-range-thumb {
    width: 40px; 
    height: 25px; 
    border-radius: 15px;
    background: #ffcc5d; 
    cursor: pointer;
  }
