
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Nav bar css - start */
nav {
    display: flex;
    position: fixed;
    float: right;
    width: 100vw;
    height: 10vh;
    min-height: 85px;
    top:0;
    border-bottom: 2px #7dcdff solid;
    justify-content: right;
    align-items: center;
    background-color: rgb(23, 135, 204);
    z-index: 100;
}

/* Project logo and text container */
#nav-image-container {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

/* Project name text in nav bar*/
#project-name {
    padding-left: 10px;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: 2.5rem;
    color: #ffc64d;
    letter-spacing: 5px;
    text-shadow: 1px 2px #000000;
}

/* Project Logo image */
#nav-image {
    display: inline-block;
    height: inherit;
    margin-left: 50px;
    padding: 8px 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Nav link list properties */
nav ul {
    display: flex;
    height: 100%;
    width: 50vw;
    list-style: none;
    margin-right: 5vw;
}

/* Nav link list item properties */
nav ul li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Nav link <a> tag properties within a list item*/
nav ul li a {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Nav link <a> tag hover properties */
nav ul li a:hover {
    background-color: rgba(168, 206, 230, 0.767);
    transition: .2s ease-in-out;
}

/* Nav link <a> tag active properties */
nav ul li a:active {
    color: rgb(23, 135, 204);
}

/* Mobile menu burger bars*/
#mobile-menu {
    display: none;
    position: absolute;
    float: right;
    right: 5vw;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

/* Mobile menu close menu cross*/
#mobile-close {
    display: none;
    position: absolute;
    right: 5vw;
    padding: 10px;
    z-index: 100;
    color: #ffffff;
    cursor: pointer;
    top:-100vh;
}

#mobile-close:hover, #sign-in-close:hover {
    color: rgb(23, 135, 204);
}

/* Nav bar css - end */

/* Main Greeting viewport - start*/
#main-viewport {
    background-color: #3199da;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    margin-bottom: 60px;
}

h1, h2, h3 {
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: calc(52px + .5vw);
}

h3 {
    color:#eebd53;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: calc(22px + .5vw);
    font-weight: bold;
    text-shadow: 2px 1px #000000;
}

h4 {
    color:#eebd53;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: calc(12px + .5vw);
    font-weight: bold;
    text-shadow: 2px 1px #000000; 
}

/* Error page properties - Start */
#main-error {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #3199da;
}

#error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 30px;
}

#error-message button a{
    color: #ffffff;
    text-decoration: none;
}

#something-wrong-img {
    width: 50vw;
    position: relative;
    display: flex;
    opacity: .6;
    justify-content: center;
    animation: patrick 3s infinite linear;
}
/* Error page properties - End */


/* The main greeting viewport*/
#welcome-view {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Rotate the coin on the welcome viewport */
#rotating-coin {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate-coin 10s infinite linear;
}

/* Block user from selecting or draging the rotating img*/
#rotating-coin img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: -100;
    opacity: .2;
    width: 30vw;
    max-width: 600px;
    min-width: 250px;
}

/* Center the greeting text */
#greeting-text {
    display: block;
    position: relative;
    text-align: center;
}

/* Sign in button properties */
#sign-in-button {
    cursor: pointer;
    font-size: 2em;
    margin-top: 40px;
    background-color: #eebd53;
    border: 3px solid #ffc23e;
    color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

/* Sign in button hover properties */
#sign-in-button:hover {
    background-color: #ffbf35;
    color:rgb(23, 135, 204);
}
/* Main Greeting viewport - End*/

/* Sign in view overlay properties */
#sign-in-screen {
    visibility: hidden;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #152a47ad;
    opacity: 0;
    z-index: 10000;
}

/* Sign in input container */
#sign-in-container {
    display: block;
    width: 30vw;
    max-width: 400px;
    min-width: 260px;
    height: fit-content;
    border: 2px #7dcdff solid;
    border-radius: 5px;
    background-color: #2884bdbb;
    text-align: center;
}

/* Sign in container <h3> tag properties*/
#sign-in-container h3 {
    margin-top: 20px;
}

/* Sign in "X" close button position */
#sign-in-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    margin-right: 3.5vw;
    margin-top: 1.5vw;
    padding: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#sign-in-close:hover {
    color: #ffbf35;
}

/* Sign in input positioning */
.sign-in-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

/* Sign in <input> tag properties*/
.sign-in-input > input {
    width: 25vw;
    height: 2vw;
    min-height: 30px;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
}

/* Remember-me container */
#remember-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#remember-container input {
    margin-left: 10px;
    width: calc(15px + .3vw);
    height: calc(15px + .3vw);
    color: #3199da;
}

/* Log in button properties */
#log-in-button {
    cursor: pointer;
    font-size: calc(1em + .2vw);
    margin-top: 10px;
    background-color: #eebd53;
    border: 3px solid #ffc23e;
    color:#ffffff;
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

/* Log in button hover properties */
#log-in-button:hover {
    background-color: #ffbf35;
    color:rgb(23, 135, 204);
}

/* Log in button active property */
#log-in-button:active {
    color: rgb(23, 135, 204);
}

/* List of available users */
#list-of-users {
    position: absolute;
    display: block;
    border: 2px #7dcdff solid;
    border-radius: 5px;
    background-color: #2884bdbb;
    width: fit-content;
    text-align: left;
    word-wrap: break-word;
    width: 30vw;
    max-width: 400px;
    min-width: 260px;
    bottom: 5vh;
    margin: 0 auto;
    color:#ffc955;
    font-size: calc(14px + .2vw);
}

#list-of-users ul {
    padding: 5px;
    margin: 0 20px;
}

/* Finance manager webapp information section - Start */
.info-section {
    background-color: #ffffff;
    width: 100%;
    height: fit-content; 
    margin: 0 auto;
    margin-bottom: 140px;
    position: relative;
}

/* Why use denarius <h1> tag*/
.why-denarius {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    color: rgb(23, 135, 204);
    text-shadow: 2px 1px #000000;
    opacity: 0;
    visibility: hidden;
}

/* Fade in class for .why-denarius class */
.fade-in {
    animation: fade-in 2s .5s forwards ease-in-out;
}

/* Display of information in the container - In the form of a grid */
#info-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 10vw;
}

/* The nested information properties - Display in the form of a grid */
.nested-grid {
    display: grid;
    margin-top: 30px;
    grid-auto-rows: 1fr;
}

/* Nested grid div properties */
.nested-grid > div {
    position: relative;
    border: 4px solid #7dcdff;
    border-radius: 200px;
    min-width: 380px;
}

/* Nested grid even numbered div properties */
.nested-grid > div:nth-child(even) {
    background-color:#3199da;
    right: -150%;
    opacity: 0;
}

/* Slide in from right animation for even numbered divs*/
.from-right {
    animation: slide-from-right 2s forwards ease-in-out;
}

/* Nested grid odd numbered div properties */
.nested-grid > div:nth-child(odd) {
    border: 4px solid #ffbf35;
    left: -150%;
    opacity: 0;
}

/* Slide in from left animation for odd numbered divs*/
.from-left {
    animation: slide-from-left 2s forwards ease-in-out;
}

/* Relaxed dude image div container */
.info-main-image {
    justify-content: center;
    position: relative;
    right: -150%;
    opacity: 0;
    visibility: hidden;
}

/* Relaxed dude image properties */
.info-main-image img { 
    width: 30vw;
    min-width: 260px;
}

/* Information icon div tag */
.information-1, .information-2 {
    display: flex;
    align-items: center;
    z-index: 90;
    visibility: hidden;
}

/* Text inside information icon div tag */
.information-1, .information-2 p {
    font-family: 'Rambla', 'Times New Roman', sans-serif;
    font-size: calc(.8em + .1vw);
    text-align: center;
}

/* Information of type 1 class <p> tag properties*/
.information-1 p {
    margin: 5px 10px 5px 35px;
}

/* Information of type 2 class <p> tag properties*/
.information-2 p {
    margin: 5px 35px 5px 10px;
}

/* Information icons properties */
.info-image {
    width: 7vw;
    min-width: 90px;
    border-radius: 50%;
    border: #ffbf35 7px solid;
    background-size: contain;
    background-color: rgb(23, 135, 204);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* Contact me page section */
.contact-section {
    background-color: #3199da;
    width: 100vw;
    height: fit-content;
    text-align: center;
    border-top: 2px solid #7dcdff;
}

/* Contact me <h1> tag property */
.contact-section h1 {
   padding-top: 30px;
}

/* Contact me form properties */
#contact-form {
    display: block;
    width: 260px;
    min-width: 260px;
    height: 40%;
    margin: 0 auto;
    padding-bottom: 60px;
}

/* Contact me form <input> tag properties */
#contact-form > input, textarea {
    min-height: 50px;
    height: 20%;
    width: 100%;
    text-align: center;
    border: 2px double #7dcdff;
    font-size: 1.2em;
    margin-bottom: 15px;
    border-radius: 15px;
    font-family: 'Rambla', 'Times New Roman', sans-serif;
}

/* Contact me text area property */
#contact-form textarea {
    text-align: center;
    min-height: 150px;
    font-size: 1.2em;
}

/* Contact me send email button properties */
#contact-form button {
    cursor: pointer;
    font-size: 1.2em;
    background-color: #eebd53;
    border: 3px solid #ffc23e;
    color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 130px;
    position: relative;
    margin: 0 auto;
}

/* Contact me send email button active properties */
#contact-form button:hover {
    background-color: #ffbf35;
    color:rgb(23, 135, 204);
}

/* Error Patrick animation */
@keyframes patrick {
    0% {
        transform:translateY(0px);
    }

    50% {
        transform:translateY(-15px);
    }

    100% {
        transform:translateY(0px);
    }
}


/* Rotating coin animation */
@keyframes rotate-coin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* Slide in the relaxed dude image and odd numbered information icons into the viewport */
@keyframes slide-from-right {
    from {
        visibility: hidden;
        opacity: 0;
        right: -150%;
    }

    to {
        visibility: visible;
        opacity: 1;
        right: 0;
    }
}

/* Fade in the Information vieport <h1> tag*/
@keyframes fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* Slide in even information icons into the viewport */
@keyframes slide-from-left {
    from {
        visibility: hidden;
        opacity: 0;
        left: -150%;
    }

    to {
        visibility: visible;
        opacity: 1;
        left: 0;
    }
}

/* Open mobile menu animation */
@keyframes openMobile {
    0% {
        top:-100vh;
    }

    100% {
        top:0;
    }
}

/* Close mobile menu animation */
@keyframes closeMobile {
    0% {
        top:0;
    }

    100% {
        top:-100vh;
    }
}

/* Fade the sign in viewport onto the screen */
@keyframes fadeSignIn {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

/* Fade the sign out from the screen */
@keyframes fadeSigninOut {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* Remove relax dude from view and change grid design when window width beneath 710px */
@media screen and (max-width:710px) {
    .info-main-image {
        display: none;
    }

    #info-container {
        grid-template-columns: 1fr;
        margin: 0 2vw;
    }
}

/* Mobile menu properties */
@media screen and (max-width:768px) {

    #mobile-menu {
        display: block;
    }

    /* Change nav bar <ul> properties */
    nav ul {
        all: initial;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: rgb(23, 135, 204);
    }

    /* Move nav links out of view when mobile menu is not opened */
    #nav-links {
        top: -100vh;
    }

    nav ul li { 
        width: fit-content;
    }

    nav ul li a {
        font-size: 3em;
    } 

    nav ul li a:hover {
        background-color: transparent;
    } 

    #mobile-close {
        display: block;
    }
}

/* Adjust elements of the page to fit the viewport */
@media screen and (max-width: 430px) {
    #nav-image {
        display: none;
    }

    #project-name {
        font-size: 2rem;
    }
    
    .nested-grid > div {
        position: relative;
        border: 4px solid #7dcdff;
        border-radius: 200px;
        min-width: 260px;
    }
}
